#bg{
    background-size: 1800px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

.hov:hover{
    background-color: lightgoldenrodyellow;
    color: #fc104f
}